   <div class="header">
       	<div class="search" >
            <br />
            <br />
       	    <form action="/search.php" method="POST" >
       	    <input type="text" id="searchfield" name="searchfield" class="right" /><br /><br />
       	    <input type="submit" id="search" name="search" value="Search" class="right" />
       	    </form>
       	</div>
        <div class="displayname" >
        <br/>
        <h1 class="title">&nbsp;<span id="displayName">SetBook</span></h1>
       	<br/>
        </div>
   </div>

    <div class="sidebar">
        <br />
        <br />
        &nbsp;<a href="/profile.php"><span id="not">Profile&nbsp;Page</span></a><br />
        &nbsp;<a href="/edit.php">Preference</a><br />
        &nbsp;<a href="/friends.php">Friends</a><br />
        &nbsp;<a href="/logout.php">Logout</a><br />
        <br />
        <br />
        <br />
        <form action="/invite.php" method="POST" >
            &nbsp;<input id="inviteBox" type="text" name="inviteBox"/><br />
            &nbsp;<input id="Invite" type="submit" value="Invite a Friend!" /><br />
        </form>
        <br />
    </div>

    <div class="maincontent">
