   <div class="header">
        <div class="displayname">
        <h1 class="title"><span id="displayName">SetBook</span></h1>
        </div>
    </div>

    <table>
    <tr class="main">
    <td>
    <div class="sidebar">
        <br />
        <br />
        <a href="profile.php">Profile&nbsp;Page</a><br />
        <a href="">Preference</a><br />
        <a href="friends.php">Friends</a><br />
        <a href="">Logout</a><br />
        <br />
        <br />
        <br />
        <form method="POST" >
            <input id="inviteBox" type="text" /><br />
            <input id="Invite" type="button" value="Invite a Friend!" /><br />
        </form>
    </div>
    </td>
    
    <td>
    <div class="maincontent">
