   <div class="header">
       <br/>
        <div class="displayname">
        <h1 class="title">&nbsp;<span id="displayName">SetBook</span></h1>
        </div>
       <br/>
    </div>

    <div class="sidebar">
        <br />
        <br />
        &nbsp;<a href="/profile.php"><span id="not">Profile&nbsp;Page</span></a><br />
        &nbsp;<a href="/edit.php">Preference</a><br />
        &nbsp;<a href="/friends.php">Friends</a><br />
        &nbsp;<a href="/logout.php">Logout</a><br />
        <br />
        <br />
        <br />
        <form action="/invite.php" method="GET" >
            &nbsp;<input id="inviteBox" type="text" /><br />
            &nbsp;<input id="Invite" type="button" value="Invite a Friend!" /><br />
        </form>
        <br />
    </div>

    <div class="maincontent">
