   <div class="header">
        <div class="displayname">
        <h1 class="title"><span id="displayName">SetBook</span></h1>
        </div>
        <div class="login">
        <br />
        E-Mail <input id="emailBox" type="text" /><br />
        Password <input id="passwordBox" type="password" /><br />
        <input id="Login" type="button" value="Login" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="foo.html">Register</a>
        </div>
    </div>

    <table>
    <tr class="main">
    <td>
    <div class="sidebar">
        <br />
        <br />
        <a href="">Profile Page</a><br />
        <a href="">Preference</a><br />
        <a href="">Friends</a><br />
        <br />
        <br />
        <br />
        <input id="inviteBox" type="text" /><br />
        <input id="Invite" type="button" value="Send Invite" /><br />
    </div>
    </td>
    
    <td>
    <div class="maincontent">
